.container {
    width: 200px;
}
.wrapper {
    display: flex;
}
.number {
    width: 16px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}
